MINIMAX_API_KEY=your_minimax_api_key
MINIMAX_BASE_URL=https://api.minimax.io/v1
MINIMAX_MODEL=MiniMax-M2.5
MINIMAX_SPEECH_MODEL=speech-2.8-hd
MINIMAX_SPEECH_VOICE_ID=male-qn-qingse
MINIMAX_SPEECH_SPEED=1
MODEL_POOL_LEASE_TTL_MINUTES=5
RADIO_IMPORT_COUNTRY_WHITELIST=CN,JP,US,GB
RADIO_TASK_QUEUE_CONCURRENCY=1
LOG_FLUSH_DELAY_MS=1200
LOG_FLUSH_BATCH_SIZE=20
HOME_PLATFORM_TOKEN=replace_with_shared_home_platform_secret
ADMIN_SMTP_HOST=smtp.office365.com
ADMIN_SMTP_PORT=587
ADMIN_SMTP_SECURE=false
ADMIN_SMTP_USER=soulzyn@outlook.com
ADMIN_SMTP_PASS=your_smtp_app_password
ADMIN_SMTP_FROM=soulzyn@outlook.com
